# TP2 - Market Basket Analysis 
INF8111 - Fouille de données, Summer 2020
### Team Components
    - Kacem Khaled
    - Oumayma Messoussi
    - Semah Aissaoui

## Date et directives de remise
Vous remettrez ce fichier nommé TP2\_NomDuMembre1\_NomDuMembre2\_NomDuMembre3.ipynb dans la boîte de remise sur moodle. 

Tout devra être remis avant le **7 juin à 23h55**.

## Market Basket Analysis

Market Basket Analysis (MBA) is a data mining analytics technique to uncover associations between products or product grouping. By exploring interesting patterns from an extensive collection of data, MBA aims to understand/reveal customer purchase behaviors based upon the theory that if you purchased a certain set of products, then you are more (or less) likely to buy another group of products. In other words, MBA allows retailers to identify the relationship between the items that customers buy, revealing patterns of items often purchased together.

A widely used approach to explore these patterns is by constructing ***association rules*** such as
- **if** bought *ITEM_1* **then** will buy *ITEM_2* with **confidence** *X*.

These associations do not have to be 1-to-1 rules. They can involve many items. For example, a person in a supermarket may add eggs to his/her cart, then an MBA application may suggest that the person will also buy some bread and/or flour: 

+ **if** bought *EGGS* **then** will buy [*BREAD* with confidence *0.2*; *FLOUR* with confidence 0.05].

However, if the person now decides to add flour to his/her cart, the new association rule could be as showing below, suggesting ingredients to make a cake.

+ **if** bought [*EGGS, FLOUR*] **then** will buy [*SUGGAR* with confidence 0.45; BAKING POWDER with confidence 0.12; *BREAD* with confidence *0.03*].

There are many real scenarios where MBA plays a central role in data analysis, such as supermarket transactions, online orders or credit card history. Marketers may use these association rules to arrange correlated products closer to each other on store shelves or make online suggestions so that customers buy more items. Some questions that an MBA can usually help retailers to answer are:

- What items are often purchased together?
- Given a basket, what items should be suggested?
- How should items be placed together on the shelves?

### Objective

Your goal in this TP is to develop an MBA algorithm for revealing patterns by creating association rules in a big dataset with more than three million supermarket transactions. However, mining association rules for large datasets is a very computationally intensive problem, which makes it almost impractical to perform it without a distributed system. Hence, to run your algorithm, you will have access to a distributed cloud computing cluster with hundreds of cores. 

To this end, a **MapReduce** algorithm will be implemented upon the [Apache Spark](http://spark.apache.org) framework, a fast cluster computing system. In a nutshell, Spark is an open source framework designed with a *scale-out* methodology which makes it a very powerful tool for programmers or application developers to perform a massive volume of computations and data processing in distributed environments. Spark provides high-level APIs that make it easy to build parallel apps without needing to worry about how your code and data are parallelized/distributed thought the computing cluster. Spark does it all for you.

The implementation will follow the Market Basket Analysis algorithm presented by Jongwook Woo and Yuhang Xu (2012). The image **workflow.svg** Illustrates the algorithm's workflow, and is to be used for consultation throughout this TP. The blue boxes are the ones where you must implement a method to perform a map or reduce function, and the gray boxes represent their expected output. **All these operations are explained in detail in the following sections.** 


## 1. Setting up Spark

Spark runs on both Windows and UNIX-like systems (e.g., Linux, Mac OS). It's easy to run locally on one machine — all you need is to have Java installed on your system PATH, or the JAVA_HOME environment variable pointing to a Java installation. It is mandatory that you have the **JDK v8** installed in your system, as Spark currently only support this version. If you haven't, go to [Java's web page](https://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html) to download and install a Java Virtual Machine. Remember to set the environment variable JAVA_HOME to use JDK v8 if your installation does not do it automatically for you. 

The interface between Python and Spark is done through **PySpark**, which can be installed by running `pip install pyspark` or set up following the sequence below:

1. First, go to http://spark.apache.org/downloads 
2. Select the newest Spark release and the Pre-built for Apache Hadoop 2.7 package 
3. Click for download **spark-2.4.5-bin-hadoop2.7.tgz** and unzip it in any folder of your preference. 
4. Next, export the following variables to link PYSPARK (Spark's python interface) to your python distribution in your `~/.bash_profile` file.

``
export SPARK_HOME=/path/to/spark-2.4.5-bin-hadoop2.7
export PYTHONPATH="$SPARK_HOME/python:$SPARK_HOME/python/lib/py4j-0.10.7-src.zip:$SPARK_HOME/python/lib/pyspark.zip:$PYTHONPATH"
export PYSPARK_PYTHON=/path/to/your/python3
``

5. Run `source ~./bash_profile` to effectuate the changes and restart this jupyter notebook session.

#### Alternative for using Google Collab

If you are planning on using Google Colaboratory platform, run the following code cell to set up Spark.

In [0]:
import os
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/e9/e4/5c15ab8d354c4e3528510821865e6748209a9b0ff6a1788f4cd36cc2a5dc/pyspark-2.4.6.tar.gz (218.4MB)
     |████████████████████████████████| 218.4MB 54kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 33.8MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.6-py2.py3-none-any.whl size=218814406 sha256=10f62805e8b43367f749ec31eaff142b68706ef26156e1e7f260523ebc13d9be
  Stored in directory: /root/.cache/pip/wheels/1e/5e/6a/17e906c94ec7246f260330a66e44a06a0809033ba2738a74a8
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.6

### 1.1 Products Counting Example 

To test your installation and start to get familiarized with Spark, we will follow an example that counts how many times the products of a toy dataset were purchased.

The main entry point to start programming with Spark is the [RDD API](https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD), an excellent Spark abstraction to work with the MapReduce framework.  RDD is a collection of elements partitioned across the nodes of the cluster that can operate in parallel. In other words, RDD is how Spark keeps your data ready to perform some function (e.g., a map or reduce function) in parallel. **Do not worry if this still sounds confusing, it will be clear once you start implementing**. However, it is part of this TP to study/consult the [Spark python API](https://spark.apache.org/docs/latest/api/python/) and learn how to use it. Some useful functions that the RDD API offers are:

1. **map**: return a new RDD by applying a function to each element of this RDD.
2. **flatMap**: return a new RDD by first applying a function to all elements of this RDD, and then flattening the results. **Should be used when each entry will yield more than one mapped element**
3. **reduce**: reduces the elements of this RDD using the specified commutative and associative binary operator.
4. **reduceByKey**: merge the values for each key using an associative and commutative reduce function
5. **groupByKey**: group the values for each key in the RDD into a single sequence
6. **collect**: return a list that contains all of the elements in this RDD. **Should not be used when working with a lot of data**
7. **sample**: return a sampled subset of this RDD
8. **count**: return the number of elements in this RDD.
9. **filter**: return a new RDD containing only the elements that satisfy a predicate.

In [0]:
from pyspark.sql import SparkSession

def map_to_product(row):
    """
    Map each transaction into a set of KEY-VALUE elements.
    The KEY is the word (product) itself and the VALUE is its number of apparitions.
    """
    products = row.transaction.split(';') # split products from the column transaction
    for p in products:
        yield (p, 1)

def reduce_product_by_key(value1, value2):
    "Reduce the mapped objects to unique words by merging (summing ) their values"
    return value1+value2

# Initializates a object of SparkSession class, main entry point to Spark's funcionalites
spark = SparkSession.builder.getOrCreate()
        
# Read a toy dataset
toy = spark.read.csv('gs://bucket_tp2_inf8111_kacemoumaymasemah/toy.csv', header=True)
print("Toy dataset")
toy.show()

# Obtain a RDD object to call a map function
toy_rdd = toy.rdd
print("Toy dataframe as a RDD object (list of Row objects):\n\t", toy_rdd.collect())

# Map function to identify all products
toy_rdd = toy_rdd.flatMap(map_to_product)
print("\nMapped products:\n\t", toy_rdd.collect())

# Reduce function to merge values of elements that share the same KEY
toy_rdd = toy_rdd.reduceByKey(reduce_product_by_key)
print("\nReduced (merged) products:\n\t", toy_rdd.collect())

print("\nVisualizing as a dataframe:")
toy_rdd.toDF(["product", "count_product"]).show()

Toy dataset
+--------+-----------+
|order_id|transaction|
+--------+-----------+
|       1|    a;b;c;f|
|       2|    d;b;a;e|
|       3|        c;b|
|       4|        b;c|
+--------+-----------+

('Toy dataframe as a RDD object (list of Row objects):\n\t', [Row(order_id=u'1', transaction=u'a;b;c;f'), Row(order_id=u'2', transaction=u'd;b;a;e'), Row(order_id=u'3', transaction=u'c;b'), Row(order_id=u'4', transaction=u'b;c')])
('\nMapped products:\n\t', [(u'a', 1), (u'b', 1), (u'c', 1), (u'f', 1), (u'd', 1), (u'b', 1), (u'a', 1), (u'e', 1), (u'c', 1), (u'b', 1), (u'b', 1), (u'c', 1)])
('\nReduced (merged) products:\n\t', [(u'a', 2), (u'c', 3), (u'b', 4), (u'e', 1), (u'd', 1), (u'f', 1)])

Visualizing as a dataframe:
+-------+-------------+
|product|count_product|
+-------+-------------+
|      a|            2|
|      c|            3|
|      b|            4|
|      e|            1|
|      d|            1|
|      f|            1|
+-------+-------------+

### 1.2 Working with Spark's Dataframe

In the example above, we briefly used a Spark's Dataframe class, but only to obtain an RDD object with ```toy.rdd``` and to print the data as a structured table with the ```show()``` function. However, [Dataframe](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#) is a crucial part of the current Spark release and is built upon the RDD API. It is a distributed collection of rows under named columns, the same as a table in a relational database. Spark's Dataframe works similarly as [Pandas'](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html). In fact, we can export (obtain) a Spark's dataframe to (from) a pandas' data frame with the function ```toPandas()``` (```spark.createDataFrame```).

A central functionality of the data frame is to profit from the [Spark SQL](https://spark.apache.org/docs/latest/sql-programming-guide.html#sql), a module that allows SQL queries over structured data. For example, the same 'product counting example' could have been implemented as a sequence of SQL operations over the data:

In [0]:
import pyspark.sql.functions as f

# Creates a new column, products, with all products appering in each transaction
print('New column \'products\': exploding the transaction\'s products to a new row')
df_toy = toy.withColumn('products', f.explode(f.split(toy.transaction, ';')))
df_toy.show()

# Performs a select query and group rows by the product name, aggreagating by counting
print('Couting unique products:')
df_toy.select(df_toy.products)\
      .groupBy(df_toy.products)\
      .agg(f.count('products').alias('count_product'))\
      .sort('count_product', ascending=False)\
      .show()

New column 'products': exploding the transaction's products to a new row
+--------+-----------+--------+
|order_id|transaction|products|
+--------+-----------+--------+
|       1|    a;b;c;f|       a|
|       1|    a;b;c;f|       b|
|       1|    a;b;c;f|       c|
|       1|    a;b;c;f|       f|
|       2|    d;b;a;e|       d|
|       2|    d;b;a;e|       b|
|       2|    d;b;a;e|       a|
|       2|    d;b;a;e|       e|
|       3|        c;b|       c|
|       3|        c;b|       b|
|       4|        b;c|       b|
|       4|        b;c|       c|
+--------+-----------+--------+

Couting unique products:
+--------+-------------+
|products|count_product|
+--------+-------------+
|       b|            4|
|       c|            3|
|       a|            2|
|       d|            1|
|       e|            1|
|       f|            1|
+--------+-------------+

Also, the same SQL operations performed above could have been done with a traditional SQL language query as showing below:

In [0]:
# Creates a relational table TOY in the Spark session
df_toy.createOrReplaceTempView("TOY")

spark.sql("SELECT t.products, COUNT(t.products) AS product_count"
          " FROM TOY t"
          " GROUP BY t.products"
          " ORDER BY product_count DESC").show()

+--------+-------------+
|products|product_count|
+--------+-------------+
|       b|            4|
|       c|            3|
|       a|            2|
|       f|            1|
|       d|            1|
|       e|            1|
+--------+-------------+

These SQL concepts are being mentioned here because they will be useful to us during the TP, mainly in Section 3, to manipulate the supermarket data, which is structured in tables. Thus, if you are not familiar with SQL, it is recommended that you follow a [tutorial](https://www.w3schools.com/sql/) to understand the basics.

## 2. MBA Algorithm 
The following sections explain how you should develop each step of the MapReduce algorithm for our supermarket application. Figure workflow.png illustrates each step of the algorithm.

### 2.1 Map to Patterns (10 points)
For a given set of transactions (i.e., the rows of our toy dataset), each transaction must be **mapped** into a set of *purchase patterns* found within the transaction. Formally, these patterns are subsets of products that represent a group of items bought together. 

For the MapReduce framework, each pattern must be created as a *KEY-VALUE* element, where the KEY can take the form of a singleton, a pair or a trio of products that are present in the transaction. More precisely, for each transaction, the mapping function must generate all possible **UNIQUE** subsets of size **ONE, TWO or THREE**.  The VALUE associated with each KEY is the number of times that the KEY appeared in the transaction (if we assume that no product appears more than once in the transaction, this value is always equal to one). 

Now, implement the **map_to_patterns** function that receives a transaction (a row from the data frame) and returns the patterns found in the transaction. The mapped elements are a tuple (KEY, VALUE), where KEY is also a tuple of product names. It is crucial to notice that, since each entry (transaction) of the map function will **yield** more than one KEY-VALUE element, a *flatMap* must be invoked for this step.

For the toy dataset, the expected output is similar to:


<pre style="align:center; border:1px solid black;font-size: 8pt; line-height: 1.1; height: auto; width: 20em; padding-left:1px">
<code>
+---------------+-----------+
|       patterns|occurrences|
+---------------+-----------+
|         ('a',)|          1|
|     ('a', 'b')|          1|
|('a', 'b', 'c')|          1|
|('a', 'b', 'f')|          1|
|     ('a', 'c')|          1|
|('a', 'c', 'f')|          1|
|     ('a', 'f')|          1|
|         ('b',)|          1|
|     ('b', 'c')|          1|
|('b', 'c', 'f')|          1|
|     ('b', 'f')|          1|
|         ('c',)|          1|
|     ('c', 'f')|          1|
|         ('f',)|          1|
|         ('a',)|          1|
|     ('a', 'b')|          1|
|('a', 'b', 'd')|          1|
|('a', 'b', 'e')|          1|
|     ('a', 'd')|          1|
|('a', 'd', 'e')|          1|
|     ('a', 'e')|          1|
|         ('b',)|          1|
|     ('b', 'd')|          1|
|('b', 'd', 'e')|          1|
|     ('b', 'e')|          1|
|         ('d',)|          1|
|     ('d', 'e')|          1|
|         ('e',)|          1|
|         ('b',)|          1|
|     ('b', 'c')|          1|
|         ('c',)|          1|
|         ('b',)|          1|
|     ('b', 'c')|          1|
|         ('c',)|          1|
+---------------+-----------+
</code>
</pre>

In [0]:
from itertools import combinations

def format_tuples(pattern):
    """
    Used for visualizition.
    Transforms tuples to a string since Dataframe does not support column of tuples with different sizes
    (a,b,c) -> '(a,b,c)'
    """
    return (str(pattern[0]), str(pattern[1]))

def map_to_patterns(row):
    
    to_yield = []
    products = row.transaction.split(';')
    for i in range(1, 4):
        to_yield.extend(list(combinations(sorted(products), i)))
    
    for pattern in to_yield:
        yield (pattern, 1)
    

toy_rdd = toy.rdd
patterns_rdd = toy_rdd.flatMap(map_to_patterns)

# Output as dataframe
patterns_rdd.map(format_tuples).toDF(['patterns', 'occurrences']).show(150,truncate=False)

+------------------+-----------+
|patterns          |occurrences|
+------------------+-----------+
|(u'a',)           |1          |
|(u'b',)           |1          |
|(u'c',)           |1          |
|(u'f',)           |1          |
|(u'a', u'b')      |1          |
|(u'a', u'c')      |1          |
|(u'a', u'f')      |1          |
|(u'b', u'c')      |1          |
|(u'b', u'f')      |1          |
|(u'c', u'f')      |1          |
|(u'a', u'b', u'c')|1          |
|(u'a', u'b', u'f')|1          |
|(u'a', u'c', u'f')|1          |
|(u'b', u'c', u'f')|1          |
|(u'a',)           |1          |
|(u'b',)           |1          |
|(u'd',)           |1          |
|(u'e',)           |1          |
|(u'a', u'b')      |1          |
|(u'a', u'd')      |1          |
|(u'a', u'e')      |1          |
|(u'b', u'd')      |1          |
|(u'b', u'e')      |1          |
|(u'd', u'e')      |1          |
|(u'a', u'b', u'd')|1          |
|(u'a', u'b', u'e')|1          |
|(u'a', u'd', u'e')|1          |
|(u'b', u'd', u'e')|1          |
|(u'b',)           |1          |
|(u'c',)           |1          |
|(u'b', u'c')      |1          |
|(u'b',)           |1          |
|(u'c',)           |1          |
|(u'b', u'c')      |1          |
+------------------+-----------+

### 2.2 Reduce patterns (2.5 points)
Once different CPUs processed the transactions, a **reduce** function must take place to combine identical KEYS (the subset of products) and compute the total number of its occurrences in the entire dataset. In other words, this reduce procedure must sum the *VALUE* of each identical KEY.

Create a **reduce_patterns** function below that must sum the VALUE of each pattern.
For the toy dataset, the expected output is:
<pre style="align:center; border:1px solid black;font-size: 8pt; line-height: 1.1; height: auto; width: 28em; padding-left:5px">
<code>
+---------------+--------------------+
|       patterns|combined_occurrences|
+---------------+--------------------+
|         ('a',)|                   2|
|     ('a', 'b')|                   2|
|('a', 'b', 'c')|                   1|
|('a', 'b', 'f')|                   1|
|     ('a', 'c')|                   1|
|('a', 'c', 'f')|                   1|
|     ('a', 'f')|                   1|
|         ('b',)|                   4|
|     ('b', 'c')|                   3|
|('b', 'c', 'f')|                   1|
|     ('b', 'f')|                   1|
|         ('c',)|                   3|
|     ('c', 'f')|                   1|
|         ('f',)|                   1|
|('a', 'b', 'd')|                   1|
|('a', 'b', 'e')|                   1|
|     ('a', 'd')|                   1|
|('a', 'd', 'e')|                   1|
|     ('a', 'e')|                   1|
|     ('b', 'd')|                   1|
|('b', 'd', 'e')|                   1|
|     ('b', 'e')|                   1|
|         ('d',)|                   1|
|     ('d', 'e')|                   1|
|         ('e',)|                   1|
+---------------+--------------------+
</code>
</pre>

In [0]:
def reduce_patterns(value1, value2):
    return value1+value2

combined_patterns_rdd = patterns_rdd.reduceByKey(reduce_patterns)

# Output as dataframe
combined_patterns_rdd.map(format_tuples).toDF(['patterns', 'combined_occurrences']).show(150,truncate=False)

+------------------+--------------------+
|patterns          |combined_occurrences|
+------------------+--------------------+
|(u'b', u'c')      |3                   |
|(u'b',)           |4                   |
|(u'd', u'e')      |1                   |
|(u'd',)           |1                   |
|(u'a', u'd')      |1                   |
|(u'f',)           |1                   |
|(u'a', u'b', u'c')|1                   |
|(u'a', u'b')      |2                   |
|(u'b', u'd')      |1                   |
|(u'c', u'f')      |1                   |
|(u'b', u'd', u'e')|1                   |
|(u'b', u'c', u'f')|1                   |
|(u'b', u'e')      |1                   |
|(u'a', u'b', u'f')|1                   |
|(u'a',)           |2                   |
|(u'a', u'b', u'e')|1                   |
|(u'c',)           |3                   |
|(u'a', u'b', u'd')|1                   |
|(u'a', u'f')      |1                   |
|(u'e',)           |1                   |
|(u'b', u'f')      |1                   |
|(u'a', u'd', u'e')|1                   |
|(u'a', u'c', u'f')|1                   |
|(u'a', u'c')      |1                   |
|(u'a', u'e')      |1                   |
+------------------+--------------------+

### 2.3 Map to subpatterns (15 points)
Next, another **map** function should be applied to generate subpatterns. Once again, the subpatterns are KEY-VALUE elements, where the KEY is a subset of products as well. However, creating the subpattern's KEY is a different procedure. This time, the idea is to break down the list of products of each pattern (pattern KEY), remove one product at a time, and yield the resulting list as the new subpattern KEY. 

For example, for a given pattern $P$ with three products, $p_1, p_2 $ and $p_3$, three new subpatterns KEYs are going to be created: (i) remove $p_1$ and yield ($p_2, p_3$); (ii) remove $p_2$ and yield ($p_1,p_3$); and (iii) remove $p_3$ and yield ($p_1,p_2$). 

Additionally, the subpattern's VALUE structure will also be different. Instead of just single integer value as we had in the patterns, this time a *tuple* should be created for the subpattern VALUE. This tuple contains the product that was removed when yielding the KEY and the number of times the pattern appeared. For example above, the values should be ($p_1,v$), ($p_2,v$) and ($p_3,v$), respectively, where $v$ is the VALUE of the pattern. 

The idea behind subpatterns is to create **rules** such as: when the products of KEY were bought, the item present in the VALUE was also bought *v* times. Furthermore, each pattern should also yield a subpattern where the KEY is the same list of products of the pattern, but the VALUE is a tuple with a null product (None) and the number of times the pattern appeared. This element will be useful to keep track of how many times such a pattern was found and later will be used to compute the confidence value when generating the association rules. 

Now, implement the  **map_to_subpatterns** function that receives a pattern and yields all found subpatterns. Once again, each entry (pattern) will generate more than one KEY-VALUE element, then a flatMap function must be called.

For the toy dataset, the expected output is:

<pre style="align:center; border:1px solid black;font-size: 8pt; line-height: 1.1; height: auto; width: 20em; padding-left:5px">
<code>
+---------------+---------+
|    subpatterns|    rules|
+---------------+---------+
|         ('a',)|(None, 2)|
|     ('a', 'b')|(None, 2)|
|         ('b',)| ('a', 2)|
|         ('a',)| ('b', 2)|
|('a', 'b', 'c')|(None, 1)|
|     ('b', 'c')| ('a', 1)|
|     ('a', 'c')| ('b', 1)|
|     ('a', 'b')| ('c', 1)|
|('a', 'b', 'f')|(None, 1)|
|     ('b', 'f')| ('a', 1)|
|     ('a', 'f')| ('b', 1)|
|     ('a', 'b')| ('f', 1)|
|     ('a', 'c')|(None, 1)|
|         ('c',)| ('a', 1)|
|         ('a',)| ('c', 1)|
|('a', 'c', 'f')|(None, 1)|
|     ('c', 'f')| ('a', 1)|
|     ('a', 'f')| ('c', 1)|
|     ('a', 'c')| ('f', 1)|
|     ('a', 'f')|(None, 1)|
|         ('f',)| ('a', 1)|
|         ('a',)| ('f', 1)|
|         ('b',)|(None, 4)|
|     ('b', 'c')|(None, 3)|
|         ('c',)| ('b', 3)|
|         ('b',)| ('c', 3)|
|('b', 'c', 'f')|(None, 1)|
|     ('c', 'f')| ('b', 1)|
|     ('b', 'f')| ('c', 1)|
|     ('b', 'c')| ('f', 1)|
|     ('b', 'f')|(None, 1)|
|         ('f',)| ('b', 1)|
|         ('b',)| ('f', 1)|
|         ('c',)|(None, 3)|
|     ('c', 'f')|(None, 1)|
|         ('f',)| ('c', 1)|
|         ('c',)| ('f', 1)|
|         ('f',)|(None, 1)|
|('a', 'b', 'd')|(None, 1)|
|     ('b', 'd')| ('a', 1)|
|     ('a', 'd')| ('b', 1)|
|     ('a', 'b')| ('d', 1)|
|('a', 'b', 'e')|(None, 1)|
|     ('b', 'e')| ('a', 1)|
|     ('a', 'e')| ('b', 1)|
|     ('a', 'b')| ('e', 1)|
|     ('a', 'd')|(None, 1)|
|         ('d',)| ('a', 1)|
|         ('a',)| ('d', 1)|
|('a', 'd', 'e')|(None, 1)|
|     ('d', 'e')| ('a', 1)|
|     ('a', 'e')| ('d', 1)|
|     ('a', 'd')| ('e', 1)|
|     ('a', 'e')|(None, 1)|
|         ('e',)| ('a', 1)|
|         ('a',)| ('e', 1)|
|     ('b', 'd')|(None, 1)|
|         ('d',)| ('b', 1)|
|         ('b',)| ('d', 1)|
|('b', 'd', 'e')|(None, 1)|
|     ('d', 'e')| ('b', 1)|
|     ('b', 'e')| ('d', 1)|
|     ('b', 'd')| ('e', 1)|
|     ('b', 'e')|(None, 1)|
|         ('e',)| ('b', 1)|
|         ('b',)| ('e', 1)|
|         ('d',)|(None, 1)|
|     ('d', 'e')|(None, 1)|
|         ('e',)| ('d', 1)|
|         ('d',)| ('e', 1)|
|         ('e',)|(None, 1)|
+---------------+---------+
</code>
</pre>

In [0]:
from copy import deepcopy
def map_to_subpatterns(pattern):
    key = pattern[0]
    value = pattern[1]

    yield (key, tuple((None, value)))
    if len(key) != 1:
        tmp = deepcopy(key)
        for i, elem in enumerate(tmp):
            sub = tmp[0:i]+tmp[i+1:]
            yield (sub, tuple((elem, value)))

subpatterns_rdd = combined_patterns_rdd.flatMap(map_to_subpatterns)

# Output as dataframe
subpatterns_rdd.map(format_tuples).toDF(['subpatterns', 'rules']).show(150, truncate=False)

+------------------+---------+
|subpatterns       |rules    |
+------------------+---------+
|(u'b', u'c')      |(None, 3)|
|(u'c',)           |(u'b', 3)|
|(u'b',)           |(u'c', 3)|
|(u'b',)           |(None, 4)|
|(u'd', u'e')      |(None, 1)|
|(u'e',)           |(u'd', 1)|
|(u'd',)           |(u'e', 1)|
|(u'd',)           |(None, 1)|
|(u'a', u'd')      |(None, 1)|
|(u'd',)           |(u'a', 1)|
|(u'a',)           |(u'd', 1)|
|(u'f',)           |(None, 1)|
|(u'a', u'b', u'c')|(None, 1)|
|(u'b', u'c')      |(u'a', 1)|
|(u'a', u'c')      |(u'b', 1)|
|(u'a', u'b')      |(u'c', 1)|
|(u'a', u'b')      |(None, 2)|
|(u'b',)           |(u'a', 2)|
|(u'a',)           |(u'b', 2)|
|(u'b', u'd')      |(None, 1)|
|(u'd',)           |(u'b', 1)|
|(u'b',)           |(u'd', 1)|
|(u'c', u'f')      |(None, 1)|
|(u'f',)           |(u'c', 1)|
|(u'c',)           |(u'f', 1)|
|(u'b', u'd', u'e')|(None, 1)|
|(u'd', u'e')      |(u'b', 1)|
|(u'b', u'e')      |(u'd', 1)|
|(u'b', u'd')      |(u'e', 1)|
|(u'b', u'c', u'f')|(None, 1)|
|(u'c', u'f')      |(u'b', 1)|
|(u'b', u'f')      |(u'c', 1)|
|(u'b', u'c')      |(u'f', 1)|
|(u'b', u'e')      |(None, 1)|
|(u'e',)           |(u'b', 1)|
|(u'b',)           |(u'e', 1)|
|(u'a', u'b', u'f')|(None, 1)|
|(u'b', u'f')      |(u'a', 1)|
|(u'a', u'f')      |(u'b', 1)|
|(u'a', u'b')      |(u'f', 1)|
|(u'a',)           |(None, 2)|
|(u'a', u'b', u'e')|(None, 1)|
|(u'b', u'e')      |(u'a', 1)|
|(u'a', u'e')      |(u'b', 1)|
|(u'a', u'b')      |(u'e', 1)|
|(u'c',)           |(None, 3)|
|(u'a', u'b', u'd')|(None, 1)|
|(u'b', u'd')      |(u'a', 1)|
|(u'a', u'd')      |(u'b', 1)|
|(u'a', u'b')      |(u'd', 1)|
|(u'a', u'f')      |(None, 1)|
|(u'f',)           |(u'a', 1)|
|(u'a',)           |(u'f', 1)|
|(u'e',)           |(None, 1)|
|(u'b', u'f')      |(None, 1)|
|(u'f',)           |(u'b', 1)|
|(u'b',)           |(u'f', 1)|
|(u'a', u'd', u'e')|(None, 1)|
|(u'd', u'e')      |(u'a', 1)|
|(u'a', u'e')      |(u'd', 1)|
|(u'a', u'd')      |(u'e', 1)|
|(u'a', u'c', u'f')|(None, 1)|
|(u'c', u'f')      |(u'a', 1)|
|(u'a', u'f')      |(u'c', 1)|
|(u'a', u'c')      |(u'f', 1)|
|(u'a', u'c')      |(None, 1)|
|(u'c',)           |(u'a', 1)|
|(u'a',)           |(u'c', 1)|
|(u'a', u'e')      |(None, 1)|
|(u'e',)           |(u'a', 1)|
|(u'a',)           |(u'e', 1)|
+------------------+---------+

### 2.4 Reduce Subpatterns (2.5 points)
Once again, a **reduce** function will be required to group all the subpatterns by their KEY. The objective of this reducing procedure is to create a list of all **rules** that appeared in KEY. Hence, the expected output resulting from this reduce function is also a KEY-VALUE element, where the KEY is the subpattern's KEY, and the VALUE is a group containing all the VALUEs of the subpatterns that share the same KEY.

For the toy dataset, the expected output is:


<pre style="align:center; border:1px solid black;font-size: 8pt; line-height: 1.1; height: auto; width: 50em; padding-left:5px">
<code>
+---------------+-------------------------------------------------------------+
|subpatterns    |combined_rules                                               |
+---------------+-------------------------------------------------------------+
|('a',)         |[(None, 2), ('b', 2), ('c', 1), ('f', 1), ('d', 1), ('e', 1)]|
|('a', 'b')     |[(None, 2), ('c', 1), ('f', 1), ('d', 1), ('e', 1)]          |
|('b',)         |[('a', 2), (None, 4), ('c', 3), ('f', 1), ('d', 1), ('e', 1)]|
|('a', 'b', 'c')|[(None, 1)]                                                  |
|('b', 'c')     |[('a', 1), (None, 3), ('f', 1)]                              |
|('a', 'c')     |[('b', 1), (None, 1), ('f', 1)]                              |
|('a', 'b', 'f')|[(None, 1)]                                                  |
|('b', 'f')     |[('a', 1), ('c', 1), (None, 1)]                              |
|('a', 'f')     |[('b', 1), ('c', 1), (None, 1)]                              |
|('c',)         |[('a', 1), ('b', 3), (None, 3), ('f', 1)]                    |
|('a', 'c', 'f')|[(None, 1)]                                                  |
|('c', 'f')     |[('a', 1), ('b', 1), (None, 1)]                              |
|('f',)         |[('a', 1), ('b', 1), ('c', 1), (None, 1)]                    |
|('b', 'c', 'f')|[(None, 1)]                                                  |
|('a', 'b', 'd')|[(None, 1)]                                                  |
|('b', 'd')     |[('a', 1), (None, 1), ('e', 1)]                              |
|('a', 'd')     |[('b', 1), (None, 1), ('e', 1)]                              |
|('a', 'b', 'e')|[(None, 1)]                                                  |
|('b', 'e')     |[('a', 1), ('d', 1), (None, 1)]                              |
|('a', 'e')     |[('b', 1), ('d', 1), (None, 1)]                              |
+---------------+-------------------------------------------------------------+
</code>
</pre>

In [0]:
def list_map(pattern):
    return (pattern[0], list(pattern[1]))

combined_rules = subpatterns_rdd.groupByKey().map(list_map)

# Output as dataframe
combined_rules.map(format_tuples).toDF(['subpatterns', 'combined_rules']).show(150, truncate=False)

+------------------+------------------------------------------------------------------+
|subpatterns       |combined_rules                                                    |
+------------------+------------------------------------------------------------------+
|(u'b', u'c')      |[(None, 3), (u'a', 1), (u'f', 1)]                                 |
|(u'b',)           |[(u'c', 3), (None, 4), (u'a', 2), (u'd', 1), (u'e', 1), (u'f', 1)]|
|(u'd', u'e')      |[(None, 1), (u'b', 1), (u'a', 1)]                                 |
|(u'd',)           |[(u'e', 1), (None, 1), (u'a', 1), (u'b', 1)]                      |
|(u'a', u'd')      |[(None, 1), (u'b', 1), (u'e', 1)]                                 |
|(u'f',)           |[(None, 1), (u'c', 1), (u'a', 1), (u'b', 1)]                      |
|(u'a', u'b', u'c')|[(None, 1)]                                                       |
|(u'a', u'b')      |[(u'c', 1), (None, 2), (u'f', 1), (u'e', 1), (u'd', 1)]           |
|(u'b', u'd')      |[(None, 1), (u'e', 1), (u'a', 1)]                                 |
|(u'c', u'f')      |[(None, 1), (u'b', 1), (u'a', 1)]                                 |
|(u'b', u'd', u'e')|[(None, 1)]                                                       |
|(u'b', u'c', u'f')|[(None, 1)]                                                       |
|(u'b', u'e')      |[(u'd', 1), (None, 1), (u'a', 1)]                                 |
|(u'a', u'b', u'f')|[(None, 1)]                                                       |
|(u'a',)           |[(u'd', 1), (u'b', 2), (None, 2), (u'f', 1), (u'c', 1), (u'e', 1)]|
|(u'a', u'b', u'e')|[(None, 1)]                                                       |
|(u'c',)           |[(u'b', 3), (u'f', 1), (None, 3), (u'a', 1)]                      |
|(u'a', u'b', u'd')|[(None, 1)]                                                       |
|(u'a', u'f')      |[(u'b', 1), (None, 1), (u'c', 1)]                                 |
|(u'e',)           |[(u'd', 1), (u'b', 1), (None, 1), (u'a', 1)]                      |
|(u'b', u'f')      |[(u'c', 1), (u'a', 1), (None, 1)]                                 |
|(u'a', u'd', u'e')|[(None, 1)]                                                       |
|(u'a', u'c', u'f')|[(None, 1)]                                                       |
|(u'a', u'c')      |[(u'b', 1), (u'f', 1), (None, 1)]                                 |
|(u'a', u'e')      |[(u'b', 1), (u'd', 1), (None, 1)]                                 |
+------------------+------------------------------------------------------------------+

## 2.5. Map to Association Rules (15 points)
Finally, the last step of the algorithm is to create the association rules to perform the market basket analysis. The goal of this map function is to calculate the **confidence** level of buying a product, knowing that there is already a set of products in the basket. Thus, the KEY of the subpattern is the set of products placed in the basket and, for each product present in the list of rules, i.e., in the VALUE, the confidence can be calculated as:

\begin{align*}
\frac{\text{number of times the product was bought together with KEY }}{\text{number of times the KEY appeared}}
\end{align*}

For the example given in the Figure workflow, *coffee* was bought 20 times and, in 17 of them, *milk* was bought together. Then, the confidence level of buying *milk* knowing that *coffee* is in the basket is $\frac{17}{20} = 0.85$, which means that in 85% of the times the coffee was bought, milk was purchased as well.

Implement the **map_to_assoc_rules** function that calculates the confidence level for each subpattern.

For the toy dataset, the expected output is:
<pre style="align:center; border:1px solid black;font-size: 8pt; line-height: 1.1; height: auto; width: 57em; padding-left:5px">
<code>
+---------------+------------------------------------------------------------------+
|patterns       |association_rules                                                 |
+---------------+------------------------------------------------------------------+
|('a',)         |[('b', 1.0), ('c', 0.5), ('f', 0.5), ('d', 0.5), ('e', 0.5)]      |
|('a', 'b')     |[('c', 0.5), ('f', 0.5), ('d', 0.5), ('e', 0.5)]                  |
|('b',)         |[('a', 0.5), ('c', 0.75), ('f', 0.25), ('d', 0.25), ('e', 0.25)]  |
|('a', 'b', 'c')|[]                                                                |
|('b', 'c')     |[('a', 0.3333333333333333), ('f', 0.3333333333333333)]            |
|('a', 'c')     |[('b', 1.0), ('f', 1.0)]                                          |
|('a', 'b', 'f')|[]                                                                |
|('b', 'f')     |[('a', 1.0), ('c', 1.0)]                                          |
|('a', 'f')     |[('b', 1.0), ('c', 1.0)]                                          |
|('c',)         |[('a', 0.3333333333333333), ('b', 1.0), ('f', 0.3333333333333333)]|
|('a', 'c', 'f')|[]                                                                |
|('c', 'f')     |[('a', 1.0), ('b', 1.0)]                                          |
|('f',)         |[('a', 1.0), ('b', 1.0), ('c', 1.0)]                              |
|('b', 'c', 'f')|[]                                                                |
|('a', 'b', 'd')|[]                                                                |
|('b', 'd')     |[('a', 1.0), ('e', 1.0)]                                          |
|('a', 'd')     |[('b', 1.0), ('e', 1.0)]                                          |
|('a', 'b', 'e')|[]                                                                |
|('b', 'e')     |[('a', 1.0), ('d', 1.0)]                                          |
|('a', 'e')     |[('b', 1.0), ('d', 1.0)]                                          |
+---------------+------------------------------------------------------------------+
</code>
</pre>

In [0]:
def map_to_assoc_rules(rule):
    tmp = deepcopy(rule)
    key = tmp[0]
    values = tmp[1]
    confidences = []
    denom = values[0][1]
    if len(values) == 1:
        yield (key, [])
    else:
        for elem in values[1:]:
            confidences.append(tuple((elem[0], float(elem[1])/denom)))
        yield (key, confidences)

assoc_rules = combined_rules.flatMap(map_to_assoc_rules)

# Output as dataframe
assoc_rules.map(format_tuples).toDF(['patterns', 'association_rules']).show(150, truncate=False)

+------------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|patterns          |association_rules                                                                                                                           |
+------------------+--------------------------------------------------------------------------------------------------------------------------------------------+
|(u'b', u'c')      |[(u'a', 0.3333333333333333), (u'f', 0.3333333333333333)]                                                                                    |
|(u'b',)           |[(None, 1.3333333333333333), (u'a', 0.6666666666666666), (u'd', 0.3333333333333333), (u'e', 0.3333333333333333), (u'f', 0.3333333333333333)]|
|(u'd', u'e')      |[(u'b', 1.0), (u'a', 1.0)]                                                                                                                  |
|(u'd',)           |[(None, 1.0), (u'a', 1.0), (u'b', 1.0)]                                                                                                     |
|(u'a', u'd')      |[(u'b', 1.0), (u'e', 1.0)]                                                                                                                  |
|(u'f',)           |[(u'c', 1.0), (u'a', 1.0), (u'b', 1.0)]                                                                                                     |
|(u'a', u'b', u'c')|[]                                                                                                                                          |
|(u'a', u'b')      |[(None, 2.0), (u'f', 1.0), (u'e', 1.0), (u'd', 1.0)]                                                                                        |
|(u'b', u'd')      |[(u'e', 1.0), (u'a', 1.0)]                                                                                                                  |
|(u'c', u'f')      |[(u'b', 1.0), (u'a', 1.0)]                                                                                                                  |
|(u'b', u'd', u'e')|[]                                                                                                                                          |
|(u'b', u'c', u'f')|[]                                                                                                                                          |
|(u'b', u'e')      |[(None, 1.0), (u'a', 1.0)]                                                                                                                  |
|(u'a', u'b', u'f')|[]                                                                                                                                          |
|(u'a',)           |[(u'b', 2.0), (None, 2.0), (u'f', 1.0), (u'c', 1.0), (u'e', 1.0)]                                                                           |
|(u'a', u'b', u'e')|[]                                                                                                                                          |
|(u'c',)           |[(u'f', 0.3333333333333333), (None, 1.0), (u'a', 0.3333333333333333)]                                                                       |
|(u'a', u'b', u'd')|[]                                                                                                                                          |
|(u'a', u'f')      |[(None, 1.0), (u'c', 1.0)]                                                                                                                  |
|(u'e',)           |[(u'b', 1.0), (None, 1.0), (u'a', 1.0)]                                                                                                     |
|(u'b', u'f')      |[(u'a', 1.0), (None, 1.0)]                                                                                                                  |
|(u'a', u'd', u'e')|[]                                                                                                                                          |
|(u'a', u'c', u'f')|[]                                                                                                                                          |
|(u'a', u'c')      |[(u'f', 1.0), (None, 1.0)]                                                                                                                  |
|(u'a', u'e')      |[(u'd', 1.0), (None, 1.0)]                                                                                                                  |
+------------------+--------------------------------------------------------------------------------------------------------------------------------------------+

## 3. Instacart dataset

With your MBA algorithm ready to be used, now it is time to work on the real dataset. For this part of the TP, download the [instacart](https://www.instacart.com/datasets/grocery-shopping-2017) dataset and read its [description](https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b) to understand how the dataset is structured. 

Before applying the developed algorithm on the instacart dataset, you must first filter the transactions to be in the same format defined by your algorithm (one transaction per row). To manipulate the data, we can use Spark's data frame and the SQL module presented in Section 1.

The following code cell uses the Spark SQL module to read the orders from the ``order_products__train.csv`` and the detailed information from ``orders.csv`` and ``products.csv`` to construct a data frame that contains a list of all products ever purchased by each user.

In [0]:
instacart = "gs://bucket_tp2_inf8111_kacemoumaymasemah/instacart_2017_05_01"

df_order_prod = spark.read.csv(instacart+'/order_products__train.csv', header=True, sep=',', inferSchema=True)
print('order_products__train.csv')
df_order_prod.show(5)

df_orders = spark.read.csv(instacart+'/orders.csv', header=True, sep=',', inferSchema=True)
print('orders.csv')
df_orders.show(5)

df_products = spark.read.csv(instacart+'/products.csv', header=True, sep=',', inferSchema=True)
print('products.csv')
df_products.show(5)


"""
List of products ever purchased by each user
"""
# USING SQL
df_order_prod.createOrReplaceTempView("order_prod") # creates table 'order_prod'
df_orders.createOrReplaceTempView("orders") # creates table 'orders'
df_products.createOrReplaceTempView("products") # creates table 'products'
spark.sql('SELECT o.user_id, COLLECT_LIST(p.product_name) AS products' 
               ' FROM orders o '
               ' INNER JOIN order_prod op ON op.order_id = o.order_id'
               ' INNER JOIN products p    ON op.product_id = p.product_id'
               ' GROUP BY user_id ORDER BY o.user_id').show(5, truncate=80)


# USING DATAFRAME OPERATIONS
# df_orders.join(df_order_prod, df_order_prod.order_id == df_orders.order_id, 'inner')\
# .join(df_products, df_products.product_id == df_order_prod.product_id, 'inner')\
# .groupBy(df_orders.user_id).agg(f.collect_list(df_products.product_name).alias('products'))\
# .orderBy(df_orders.user_id).show(5, truncate=80)

order_products__train.csv
+--------+----------+-----------------+---------+
|order_id|product_id|add_to_cart_order|reordered|
+--------+----------+-----------------+---------+
|       1|     49302|                1|        1|
|       1|     11109|                2|        1|
|       1|     10246|                3|        0|
|       1|     49683|                4|        0|
|       1|     43633|                5|        1|
+--------+----------+-----------------+---------+
only showing top 5 rows

orders.csv
+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
| 2539329|      1|   prior|           1|        2|                8|                  null|
| 2398795|      1|   prior|           2|        3|                7|                  15.0|
|  473747|      1|   prior|           3|        3|               12|                  21.0|
| 2254736|      1|   prior|           4|        4|                7|                  29.0|
|  431534|      1|   prior|           5|        4|               15|                  28.0|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 5 rows

products.csv
+----------+--------------------+--------+-------------+
|product_id|        product_name|aisle_id|department_id|
+----------+--------------------+--------+-------------+
|         1|Chocolate Sandwic...|      61|           19|
|         2|    All-Seasons Salt|     104|           13|
|         3|Robust Golden Uns...|      94|            7|
|         4|Smart Ones Classi...|      38|            1|
|         5|Green Chile Anyti...|       5|           13|
+----------+--------------------+--------+-------------+
only showing top 5 rows

+-------+--------------------------------------------------------------------------------+
|user_id|                                                                        products|
+-------+--------------------------------------------------------------------------------+
|      1|[Soda, Organic String Cheese, 0% Greek Strained Yogurt, XL Pick-A-Size Paper ...|
|      2|[Organic Roasted Turkey Breast, Gluten Free Whole Grain Bread, Plantain Chips...|
|      5|[Organic Raw Agave Nectar, Organic Large Extra Fancy Fuji Apple, Sharp Chedda...|
|      7|[Panama Peach Antioxidant Infusion, Antioxidant Infusions Beverage Malawi Man...|
|      8|[Shallot, Organic SprouTofu Silken Tofu, Nutritional Yeast Seasoning, Organic...|
+-------+--------------------------------------------------------------------------------+
only showing top 5 rows

### 3.1 Business Insights (25 points) 

Now, you are the data scientist. Considering only the orders of ``order_products__train.csv``, use of Spark SQL module, performing with SQL or data frame, to answer the following questions:

1. What are the top 10 products which have the highest probability of being reordered? Consider only products purchased at least 40 times for this task.
2. What are the top 3 most purchased products of each department?
4. What is the average basket size for each day of the week?
- Hint: use a barplot to visualize your results

**The output of those questions must contain the products' NAME, not their ID.**

In [0]:
top_10 = spark.sql(""" SELECT p1.product_name, 
                              total_order, 
                              nbr_reorder / total_order AS proba_reorder 
                      FROM (SELECT product_id, 
                                    COUNT(product_id) AS total_order, 
                                    SUM(reordered) AS nbr_reorder 
                      FROM order_prod 
                      GROUP BY product_id) AS p2
                      INNER JOIN products AS p1 ON p1.product_id = p2.product_id 
                      WHERE total_order >= 40 
                      ORDER BY proba_reorder DESC LIMIT 10 """)

top_10.show(15, truncate=80)

In [0]:
# Visualization

import matplotlib.pyplot as plt

prod_names = top_10.select("product_name").rdd.flatMap(lambda x: x).collect()
prob_reord = top_10.select("proba_reorder").rdd.flatMap(lambda x: x).collect()

tmp = range(len(prod_names))

plt.barh(tmp,prob_reord )
plt.yticks(tmp, prod_names)
plt.gca().invert_yaxis()
plt.xlabel("Product names")
plt.ylabel("Probability of being reordered")
plt.title("The top 10 products purchased at least 40 times and which have the highest probability of being reordered")
plt.show()

In [0]:
top_3 = spark.sql(""" SELECT * 
                      FROM   (SELECT department_id, 
                                    product_name, 
                                    total_order, 
                                    Row_number() 
                                      OVER ( 
                                        partition BY department_id 
                                        ORDER BY total_order DESC ) AS rowno 
                              FROM   (SELECT p.department_id, 
                                            op.product_id, 
                                            p.product_name, 
                                            Count(op.product_id) AS total_order 
                                      FROM   order_prod op 
                                            INNER JOIN products p 
                                                    ON op.product_id = p.product_id 
                                      GROUP  BY p.department_id, 
                                                op.product_id, 
                                                p.product_name))  
                      WHERE  rowno <= 3 
                      ORDER  BY int(department_id) ASC, 
                                total_order DESC """)

top_3.show(150, truncate=80)

In [0]:
# Visualization

prod_names = top_3.select("product_name").rdd.flatMap(lambda x: x).collect()
total_order = top_3.select("total_order").rdd.flatMap(lambda x: x).collect()
department = top_3.select("department_id").rdd.flatMap(lambda x: x).collect()

tmp = range(len(prod_names))
fig = plt.figure(figsize=(10,14))
labels = [a +' / Dep. #' + str(b) for a, b in zip(prod_names, department)]
plt.barh(tmp,total_order)
plt.yticks(tmp, labels)
plt.gca().invert_yaxis()
plt.ylabel("Product names")
plt.xlabel("Total orders")
plt.title("The top 3 most purchased products of each department")
plt.plot()

In [0]:
avg_dow = spark.sql(""" SELECT order_dow, 
                               Avg(basket_size) AS avg_basket_size 
                        FROM   (SELECT order_id, 
                                      Count(product_id) AS basket_size 
                                FROM   order_prod 
                                GROUP  BY order_id) AS orders_baskets 
                              INNER JOIN orders AS o 
                                      ON o.order_id = orders_baskets.order_id 
                        GROUP  BY order_dow 
                        ORDER  BY order_dow """)

avg_dow.show(150, truncate=80)

In [0]:
# Visualization

order_dow = avg_dow.select("order_dow").rdd.flatMap(lambda x: x).collect()
avg_basket_size  = avg_dow.select("avg_basket_size").rdd.flatMap(lambda x: x).collect()

tmp = range(len(order_dow))

plt.barh(tmp,avg_basket_size )
plt.yticks(tmp, order_dow)
plt.gca().invert_yaxis()
plt.xlabel("Average basket size")
plt.ylabel("Order day of the week")
plt.title("The average basket size for each day of the week")
plt.show()

### 3.2 Run MBA for the training set (15 points)

Using the orders from the ``order_products__train.csv``, create a data frame where each row contains the column “transaction” with the list of purchased products, similarly to the toy dataset. In sequence, run the MBA algorithm for this set of transactions. 

- You must report the time spent to perform this task.
- Output must contain the products' name.

In [0]:
%%time
"""
Create a query to create and struct the transactions
"""
transactions_df = spark.sql("""SELECT o.order_id, concat_ws(";", collect_set(p.product_name)) AS transaction 
                          FROM order_prod as o
                          INNER JOIN products p ON p.product_id = o.product_id
                          GROUP BY o.order_id""")

transactions_df.show(5, truncate=100)

+--------+----------------------------------------------------------------------------------------------------+
|order_id|                                                                                         transaction|
+--------+----------------------------------------------------------------------------------------------------+
|    1342|Raw Shrimp;Seedless Cucumbers;Versatile Stain Remover;Organic Strawberries;Organic Mandarins;Chic...|
|    1591|Cracked Wheat;Strawberry Rhubarb Yoghurt;Organic Bunny Fruit Snacks Berry Patch;Goodness Grapenes...|
|    4519|                                  Beet Apple Carrot Lemon Ginger Organic Cold Pressed Juice Beverage|
|    4935|                                                                                               Vodka|
|    6357|Globe Eggplant;Panko Bread Crumbs;Fresh Mozzarella Ball;Grated Parmesan;Gala Apples;Italian Pasta...|
+--------+----------------------------------------------------------------------------------------------------+
only showing top 5 rows

CPU times: user 915 µs, sys: 1.1 ms, total: 2.02 ms
Wall time: 5.3 s

In [0]:
%%time
"""
Run the MBA algorithm and show the first 5 association rules
"""
transactions_rdd = transactions_df.rdd
patterns_rdd = transactions_rdd.flatMap(map_to_patterns)

# Output as dataframe
patterns_rdd.map(format_tuples).toDF(['patterns', 'occurrences']).show(1,truncate=80)

combined_patterns_rdd = patterns_rdd.reduceByKey(reduce_patterns)

# Output as dataframe
combined_patterns_rdd.map(format_tuples).toDF(['patterns', 'combined_occurrences']).show(1,truncate=80)

subpatterns_rdd = combined_patterns_rdd.flatMap(map_to_subpatterns)

# Output as dataframe
subpatterns_rdd.map(format_tuples).toDF(['subpatterns', 'rules']).show(1,truncate=80)

combined_rules = subpatterns_rdd.groupByKey().map(list_map)

# Output as dataframe
combined_rules.map(format_tuples).toDF(['subpatterns', 'combined_rules']).show(1,truncate=80)

assoc_rules = combined_rules.flatMap(map_to_assoc_rules)

# Output as dataframe
assoc_rules.map(format_tuples).toDF(['patterns', 'association_rules']).show(1,truncate=80)

+---------------------------+-----------+
|                   patterns|occurrences|
+---------------------------+-----------+
|('Bag of Organic Bananas',)|          1|
+---------------------------+-----------+
only showing top 1 row

+-------------------------------------------------------------------+--------------------+
|                                                           patterns|combined_occurrences|
+-------------------------------------------------------------------+--------------------+
|('Organic Mandarins', 'Organic Strawberries', 'Seedless Cucumbers')|                   4|
+-------------------------------------------------------------------+--------------------+
only showing top 1 row

+-------------------------------------------------------------------+---------+
|                                                        subpatterns|    rules|
+-------------------------------------------------------------------+---------+
|('Organic Mandarins', 'Organic Strawberries', 'Seedless Cucumbers')|(None, 4)|
+-------------------------------------------------------------------+---------+
only showing top 1 row

+-------------------------------------------------------------------+--------------+
|                                                        subpatterns|combined_rules|
+-------------------------------------------------------------------+--------------+
|('Organic Mandarins', 'Organic Strawberries', 'Seedless Cucumbers')|   [(None, 4)]|
+-------------------------------------------------------------------+--------------+
only showing top 1 row

+-------------------------------------------------------------------+-----------------+
|                                                           patterns|association_rules|
+-------------------------------------------------------------------+-----------------+
|('Organic Mandarins', 'Organic Strawberries', 'Seedless Cucumbers')|               []|
+-------------------------------------------------------------------+-----------------+
only showing top 1 row

CPU times: user 486 ms, sys: 113 ms, total: 599 ms
Wall time: 1h 4min 15s

In [0]:
assoc_rules.map(format_tuples).toDF(['patterns', 'association_rules']).show(25,truncate=80)

+--------------------------------------------------------------------------------+--------------------------------------------------------------------------------+
|                                                                        patterns|                                                               association_rules|
+--------------------------------------------------------------------------------+--------------------------------------------------------------------------------+
|             ('Organic Mandarins', 'Organic Strawberries', 'Seedless Cucumbers')|                                                                              []|
|                     ('Banana', 'Cracked Wheat', 'Green Machine Juice Smoothie')|                                                                              []|
|                        ('Banana', 'Lemon Yogurt', 'Oven Roasted Turkey Breast')|                                                                              []|
|('Buttermilk Waffles', 'Chewy 25% Low Sugar Chocolate Chip Granola', 'Honey G...|                                                                              []|
|                  ('Buttermilk Waffles', 'Garlic', 'Oven Roasted Turkey Breast')|                                                                              []|
|('Buttermilk Waffles', 'Granny Smith Apples', 'Lower Sugar Instant Oatmeal  V...|                                                                              []|
|('Chewy 25% Low Sugar Chocolate Chip Granola', 'Goldfish Pretzel Baked Snack ...|                                                                              []|
|('Cinnamon Multigrain Cereal', 'Green Machine Juice Smoothie', 'Original Patt...|                                                                              []|
|                          ('Coconut Dreams Cookies', 'Cracked Wheat', 'Spinach')|                                                                              []|
|       ('Coconut Dreams Cookies', 'Cracked Wheat', 'Strawberry Banana Smoothie')|                                                                              []|
|   ('Coconut Dreams Cookies', 'Garlic', 'Goldfish Pretzel Baked Snack Crackers')|                                                                              []|
|                             ('Coconut Dreams Cookies', 'Nutty Bars', 'Spinach')|                                                                              []|
|('Coconut Dreams Cookies', 'Organic Greek Whole Milk Blended Vanilla Bean Yog...|                                                                              []|
|                       ('Cracked Wheat', 'Lemon Yogurt', 'Pure Vanilla Extract')|                                                                              []|
|('Goldfish Pretzel Baked Snack Crackers', 'Granny Smith Apples', 'Medium Scar...|                                                                              []|
|('Goldfish Pretzel Baked Snack Crackers', 'Original Whole Grain Chips', 'Oven...|                                                                              []|
|                 ('Granny Smith Apples', 'Lemon Yogurt', 'Pure Vanilla Extract')|                                                                              []|
|('Green Machine Juice Smoothie', 'Lower Sugar Instant Oatmeal  Variety', 'Str...|                                                                              []|
|                   ('Honey Graham Snacks', 'Nutty Bars', 'Uncured Genoa Salami')|                                                                              []|
|('Lemon Yogurt', 'Natural Vanilla Ice Cream', 'Organic Greek Whole Milk Blend...|                                                                              []|
|('Lemon Yogurt', 'Organic Greek Whole Milk Blended Vanilla Bean Yogurt', 'Str...|                                                                              []|
|('Lower Sugar Instant Oatmeal  Variety', 'Strawberry Banana Smoothie', 'Uncur...|                                                                              []|
|('Natural Vanilla Ice Cream', 'Organic Bunny Fruit Snacks Berry Patch', 'Stra...|                                                                              []|
|                                         ('Coconut Flour', 'Organic Spring Mix')|[('Organic Basil', 0.5), ('Organic Tomato Sauce', 0.5), ('Light Brown Sugar',...|
|                                                ('Coconut Flour', 'Roma Tomato')|[('Organic Tapioca Flour', 1.0), ('Organic Baby Spinach', 1.0), ('Limes', 1.0...|
+--------------------------------------------------------------------------------+--------------------------------------------------------------------------------+
only showing top 25 rows

# 3.3 Run MBA for the whole dataset (15 points)

As you probably noticed, even for a not so large data set (the training file has only 131K orders), the MBA algorithm is computationally expensive. For that reason, this time, we will repeat the process, but now using the Google Cloud Platform (GCP) to create a large computer cluster. All the instructions for creating a computing cluster with spark and how to submit a job will be explained in both sessions of the laboratory. In any case, you should read the instructions given in the ``Instruction_GCP.pdf``.

This time, we will work with the ``order_products__prior.csv`` file, which contains more than 3M orders.

**EXPECTED OUTPUT**

After you ran the MBA for the larger collection of orders, randomly select ONE product purchased in ``order_products__prior`` and print the association rules (product name and association value) of this product, i.e., when the product is alone in the basket. The output should be formatted in a table, where each row containing the information of one associated product.

- Print both ID and Name of the random selected product.
- Report the execution time.

In [0]:
%%time
"""
Create a query to create and struct the transactions
"""
transactions_df = spark.sql("""SELECT o.order_id, concat_ws(";", collect_set(p.product_name)) AS transaction 
                          FROM order_prod as o
                          INNER JOIN products p ON p.product_id = o.product_id
                          GROUP BY o.order_id""")

transactions_df.show(5, truncate=100)

+--------+----------------------------------------------------------------------------------------------------+
|order_id|                                                                                         transaction|
+--------+----------------------------------------------------------------------------------------------------+
|    1342|Raw Shrimp;Seedless Cucumbers;Versatile Stain Remover;Organic Strawberries;Organic Mandarins;Chic...|
|    1591|Cracked Wheat;Strawberry Rhubarb Yoghurt;Organic Bunny Fruit Snacks Berry Patch;Goodness Grapenes...|
|    4519|                                  Beet Apple Carrot Lemon Ginger Organic Cold Pressed Juice Beverage|
|    4935|                                                                                               Vodka|
|    6357|Globe Eggplant;Panko Bread Crumbs;Fresh Mozzarella Ball;Grated Parmesan;Gala Apples;Italian Pasta...|
+--------+----------------------------------------------------------------------------------------------------+
only showing top 5 rows

CPU times: user 0 ns, sys: 2.3 ms, total: 2.3 ms
Wall time: 1.47 s

In [0]:
%%time
"""
Run the MBA algorithm and show the first 5 association rules
"""
transactions_rdd = transactions_df.rdd
patterns_rdd = transactions_rdd.flatMap(map_to_patterns)

# Output as dataframe
patterns_rdd.map(format_tuples).toDF(['patterns', 'occurrences']).show(1,truncate=80)

combined_patterns_rdd = patterns_rdd.reduceByKey(reduce_patterns)

# Output as dataframe
combined_patterns_rdd.map(format_tuples).toDF(['patterns', 'combined_occurrences']).show(1,truncate=80)

subpatterns_rdd = combined_patterns_rdd.flatMap(map_to_subpatterns)

# Output as dataframe
subpatterns_rdd.map(format_tuples).toDF(['subpatterns', 'rules']).show(1,truncate=80)

combined_rules = subpatterns_rdd.groupByKey().map(list_map)

# Output as dataframe
combined_rules.map(format_tuples).toDF(['subpatterns', 'combined_rules']).show(1,truncate=80)

assoc_rules = combined_rules.flatMap(map_to_assoc_rules)

# Output as dataframe
assoc_rules.map(format_tuples).toDF(['patterns', 'association_rules']).show(1,truncate=80)

+----------------------------+-----------+
|                    patterns|occurrences|
+----------------------------+-----------+
|(u'Bag of Organic Bananas',)|          1|
+----------------------------+-----------+
only showing top 1 row

+--------------------------------------------------------------------------------+--------------------+
|                                                                        patterns|combined_occurrences|
+--------------------------------------------------------------------------------+--------------------+
|(u'Barbecue Potato Chips', u"Kid Z Bar Organic S'mores Energy Bars", u'Organi...|                   1|
+--------------------------------------------------------------------------------+--------------------+
only showing top 1 row

+--------------------------------------------------------------------------------+---------+
|                                                                     subpatterns|    rules|
+--------------------------------------------------------------------------------+---------+
|(u'Barbecue Potato Chips', u"Kid Z Bar Organic S'mores Energy Bars", u'Organi...|(None, 1)|
+--------------------------------------------------------------------------------+---------+
only showing top 1 row

+-------------------------------------------------------------+--------------+
|                                                  subpatterns|combined_rules|
+-------------------------------------------------------------+--------------+
|(u'Bok Choy', u'Grade A Goat Milk', u'Organic Baby Kale Mix')|   [(None, 1)]|
+-------------------------------------------------------------+--------------+
only showing top 1 row

+-------------------------------------------------------------------+-----------------+
|                                                           patterns|association_rules|
+-------------------------------------------------------------------+-----------------+
|(u'Milk and Cookies Ice Cream', u'Organic Lemon', u'Sliced Mangos')|               []|
+-------------------------------------------------------------------+-----------------+
only showing top 1 row

CPU times: user 171 ms, sys: 63.7 ms, total: 235 ms
Wall time: 9min 35s

In [0]:
assoc_rules.map(format_tuples).toDF(['patterns', 'association_rules']).show(50,truncate=80)

+--------------------------------------------------------------------------------+--------------------------------------------------------------------------------+
|                                                                        patterns|                                                               association_rules|
+--------------------------------------------------------------------------------+--------------------------------------------------------------------------------+
|             (u'Milk and Cookies Ice Cream', u'Organic Lemon', u'Sliced Mangos')|                                                                              []|
|        (u'Broccoli Wokly', u'Calm Chamomile Herbal Tea', u'Refresh Herbal Tea')|                                                                              []|
|(u'Bag of Organic Bananas', u'Cheese & Herb Pizza', u'Organic Chocolate Chip ...|                                                                              []|
|(u'Chunk Light Tuna In Water', u'Original Wheat Thins', u'Santa Fe-Style Rice...|                                                                              []|
|(u'Pop-Tarts Frosted Chocolate Fudge Toaster Pastries', u'Sausage, Egg, & Che...|                                                                              []|
|(u'3 lb Clementines', u'Cherubs Tomatoes', u'Roasted Red Pepper & Basil Quino...|                                                                              []|
|(u'Boneless Skinless Chicken Breast Fillets', u'Organic Cheese Frozen Pizza',...|                                                                              []|
|(u'Boneless Skinless Chicken Breasts', u'Cage Free Brown Eggs-Large, Grade A'...|                                                                              []|
|(u'Dipps Chocolatey Covered Chocolate Chip Granola Bars', u'Neapolitan Ice Cr...|                                                                              []|
|                 (u'Organic Ketchup', u'Sugar Snap Peas', u'Variety Snack Pack')|                                                                              []|
|(u'Cauliflower Crumbles Chopped Cauliflower', u'Febreze Fresh Clean Garbage B...|                                                                              []|
|(u'100% White Grape Juice', u'Original Life Cereal', u'Original Thin Sausage ...|                                                                              []|
|(u'Large Lemon', u'Organic Avocado', u'Whole Wheat Bunnies Baked Snack Cracke...|                                                                              []|
|(u'Organic  Whole Milk', u'Organic Lowfat Mango Kefir', u'Unsweetened Whole M...|                                                                              []|
|(u'Fiber & Protein Organic Pears, Raspberries, Butternut Squash & Carrots Sna...|                                                                              []|
|(u'Fluoride-Free Antiplaque & Whitening Spearmint Toothpaste', u'Organic Mexi...|                                                                              []|
|                            (u'Bananas', u'Beef Broth', u'Whole Cut Up Chicken')|                                                                              []|
|(u'Organic Blueberries', u'Organic Rainbow Carrots', u'Sliced Soppressata Sal...|                                                                              []|
|(u'Bag of Organic Bananas', u'Organic Hass Avocado', u'Organix Butcher & Bush...|                                                                              []|
|(u'Grovestand Lots Of Pulp Pure 100% Florida Orange Juice', u'Kale Greens', u...|                                                                              []|
|(u'Organic 85% Cacao Dark Chocolate Bar', u'Organic Honey Mustard', u'Peanut ...|                                                                              []|
|(u'2nd Foods Sweet Potato & Turkey With Whole Grains Baby Food', u'Vegetable ...|                                                                              []|
|(u'Gluten Free Broccoli & Cheese Baked Nuggets', u'Organic Broccoli Florets',...|                                                                              []|
|(u'Acorn Squash', u'Almond Breeze Original Almond Milk', u'Organic Grade A Fr...|                                                                              []|
|(u'Di Giorno Half & Half Pizza Cheese And Pepperoni', u'Frozen Breaded Bagged...|                                                                              []|
|                            (u'Hass Avocado Bag', u'Organic Small Bunch Celery')|[(u'Organic Tomato Sauce', 0.5), (u'Chocolate Ice Cream', 0.5), (u'Yellow Oni...|
|(u'Cool Moisture Body Wash', u'Cucumber Kirby', u'No Pulp Calcium & Vitamin D...|                                                                              []|
|                            (u'Beef Fajitas', u'Beer', u'Light Caesar Dressing')|                                                                              []|
|                       (u'Medium Salsa Organica', u'Thin Crust Pepperoni Pizza')|[(u'Gluten Free Uncured Frozen Pepperoni Pizza', 1.0), (u'Organic Extra Large...|
|  (u'Olive Brushetta', u'Organic Large Grade AA Brown Eggs', u'White Nectarine')|                                                                              []|
|(u'Dairy Pure Fresh Heavy Whipping Cream', u'Zucchini Banana & Amaranth Organ...|[(None, 1.0), (u'Large Lemon', 1.0), (u'Chocolate Peanut Butter Cup Gelato', ...|
|(u'Orange Bell Pepper', u'Organic Old Fashioned Rolled Oats', u'Small Hass Av...|                                                                              []|
|(u'Dr. Zevia Zero Calorie Soda', u'Italian Deli Slices', u'Organic Whole Stra...|                                                                              []|
|           (u'Clean Individual Wipes', u'Natural Shredded Monterey Jack Cheese')|[(u'BBQ Chicken Crispy Thin Crust Pizza', 1.0), (u'All Natural Boneless Skinl...|
|   (u'Bag of Organic Bananas', u'Organic Frozen Peas', u'Sparkling Lemon Water')|                                                                              []|
|                       (u'Cheerios Cereal', u'Green Peas', u'Organic Red Onion')|                                                                              []|
|      (u'Olive Hummus', u'Spinach Peas & Pear Stage 2 Baby Food', u'White Corn')|                                                                              []|
|(u'Feta Cheese Crumbles', u'Pure Sparkling Water', u'Sparkling Water Grapefru...|                                                                              []|
|(u'Caramel Almond and Sea Salt Nut Bar', u'Crunchy Almond Butter', u'Organic ...|                                                                              []|
|            (u'Classic Mild Cheddar Macaroni & Cheese', u'Organic Green Onions')|[(u'40 Watt Appliance Bulb', 1.0), (u'Grape Tomatoes', 1.0), (u'Grillers Prim...|
|(u'2-Ply 100% Recycled Bathroom Tissue', u'Organic Cilantro', u'Uncured Genoa...|                                                                              []|
|(u'Frozen Broccoli Florets', u'Organic Dijon Mustard', u'Organic Strawberry F...|                                                                              []|
|(u'Organic 85% Cacao Dark Chocolate Bar', u'Organic Strawberry & Mango Dried ...|                                                                              []|
|(u'Organic 50/50 Blend Salad', u'Original Coffee Creamer', u'Rising Crust Pep...|                                                                              []|
|(u'Oats & Honey Gluten Free Granola', u'Persimmon Sharon Fruit Cv', u'Vitamin...|                                                                              []|
|(u'Extra Sharp White Cheddar', u'Organic Dill', u'Organic Italian Parsley Bun...|                                                                              []|
|(u'Angel Hair Nests Pasta', u'Organic Southwest Powermeal Bowl', u'Smok Cured...|                                                                              []|
|                             (u'Original Veggie Straws', u'Overnight Maxi Pads')|[(u'2-Ply 100% Recycled Bathroom Tissue', 1.0), (u'"9"" Apple Pie"', 1.0), (u...|
|(u'Jalapeno Cilantro Salsa', u'Light Sour Cream', u'Sliced Havarti Dill Cheese')|                                                                              []|
|                       (u'Apple Juice', u'Balsamic Vinegar', u'Bunched Carrots')|                                                                              []|
+--------------------------------------------------------------------------------+--------------------------------------------------------------------------------+
only showing top 50 rows